
/* left side img______________________________________________________________________________________________________*/
.left-side-img {
    position: fixed;
    bottom: 0;
    left: -2vw;
    height: 70%;
    width: 70%;
}

/* right side content_________________________________________________________________________________________________*/
.right-box-wrapper p {
    padding: 2vw;
    font-size: 1.5vw;
}