/* left side content______________________________________________________________________________________________________*/
.left-side-container {
    position: absolute;
    height: 100%;
    width: 60%;
}

.left-side-container::after {
    content: "";
    position: fixed;
    z-index: -1;
    opacity: 33%;
    height: 100%;
    width: 60%;
    background: url("https://cdn.pixabay.com/photo/2016/11/11/20/05/wave-1817646_960_720.png") no-repeat center center;
    background-size: 100%;
}

.left-box-wrapper {
    position: absolute;
    top: 12vw;
    bottom: 10vw;
    left: 20%;
    width: 60%;
    text-align: center;
}

.left-box-wrapper h1 {
    font-size: 3vw;
    font-variant: small-caps;
}

.left-box-wrapper p {
    padding: 2vw;
    font-size: 1.5vw;
    text-align: justify;
}

/* right side content______________________________________________________________________________________________________*/
.right-box-wrapper {
    border: 2vw solid transparent;
    border-image: linear-gradient(to right top, #7ac4c2, #8cccc6, #9ed4ca, #afdbd0, #bfe3d6) 10 round;
    background-color: white;
}

.flex-box-container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    height: 75%;
    width: 100%;
    margin-top: 3vw;
}

.inputfield-fullwidth-wrapper{
    height: auto;
    width: 100%;
}

.inputfield-halfwidth-wrapper{
    height: 4vw;
    width: 50%;
}

input[type=text], input[type=password], select, textarea, input[type=email], input[type=date], input[type=number]{
    width: 75%;
    padding: 0.5vw;
    border: 0.1vw solid black;
    border-radius: 1vw;
    font-size: 1vw;
    text-align: center;
}

.flex-box-container h2 {
    margin: 1vw 0 1vw;
    font-size: 2vw;
}

.flex-box-container h3 {
    font-size: 1.3vw;
}

.flex-box-container a {
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
}