@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Cuprum&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Open+Sans:wght@300&display=swap');


/* Overall Main content/table-project content styling_________________________________________________________________________*/
.main-content-container {
    position: fixed;
    left: 20vw;
    right: 3vw;
    top:3vw;
    bottom: 4vw;
    border:  0.2vw solid black;
    background-color:  white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.table-container {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.parent-table {
    table-layout: fixed;
    overflow-y: scroll;
    border-collapse: collapse;
    width: 100%;
}

/*table header styling*/
th {
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 0.5vw;
    height: 5vw;
    width: 100%;
    background-color: #048a81;
    font-size: 2.5vw;
    color: white;
    font-weight: bold;
}

/* table rows styling */
.row-container h1{
    display: inline-block;
    width: auto;
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    color:white;
}

/*Overall collapsible rows styling____________________________________________________________________________________*/
input[type="checkbox"] {
    position:absolute;
    opacity:0;
    height: 5vw;
    width:100%;
    cursor:pointer;
}

input[type="checkbox"]:hover ~ span{
    background-color: #84c4c1;
}

span {
    display:inline-block;
    transition:all .3s ease;
    height:5vw;
    width: 100%;
    line-height: 5vw;
}

.row-container span+span, .collapsible-nested-table {
    display:none;
}
.row-container input[type="checkbox"]:checked ~ span {
    display:none;
}
.row-container input[type="checkbox"]:checked ~ span+span{
    display:inline-block;
}

.row-container input[type="checkbox"]:checked ~ .collapsible-nested-table  {
    display:table;
}

/*nested table styling*/
.collapsible-nested-table {
    border: 0.5vw solid white;
    table-layout: fixed;
    width: 100%;
}

/*nested table rows and createProject button styling*/
.collapsible-nested-table tr, .create-project-button-wrapper{
    height: 5vw;
    font-size: 1.2vw;
}

/*project rows styling*/
.span-project-item-wrapper {
    padding-left: 5vw;
    text-align: left;
}

/*project row styling*/
.span-project-item-wrapper, .project-row-wrapper {
    background-color:  #56a3a6;
}

.span-project-item-wrapper, .span-subproject-item-wrapper, .span-task-item-wrapper{
    border-top: 0.5vw solid white;
}

/*subproject row styling*/
.span-subproject-item-wrapper, .subproject-row-wrapper, .create-subproject-inputfield-wrapper {
    background-color: #43aa8b;
}

/*task row styling*/
.span-task-item-wrapper, .task-row-wrapper, .create-task-inputfield-wrapper {
    background-color: #90be6d ;
}

/*nested rows styling*/
.project-row-wrapper, .subproject-row-wrapper, .create-subproject-inputfield-wrapper, .task-row-wrapper, .create-task-inputfield-wrapper {
    filter: brightness(80%);
}

/*input submit button styling*/
input[type=submit] {
    padding: 0.3vw;
    margin: 1vw 0.5vw;
    border-radius: 1vw;
    box-shadow: 0.1vw 0.2vw black;
    background-color: #BFE3D6;
    font-size: 1vw;
    text-decoration: none;
}

input[type=submit]:hover {
    border: 0.1vw solid black;
    box-shadow: none;
    background-color: #7ac4c2;
}

/*input text field/create object styling*/
input[type=text], input[type=date] {
    width: 80%;
    padding: 0.5vw;
    margin-bottom: 1vw;
    border: 0.1vw solid black;
    font-size: 1vw;
    text-align-last: center;
}

.create-subproject-inputfield-wrapper h2, .create-task-inputfield-wrapper h2{
    font-size: 1.2vw;
    color: white;
}

/*popup for create project styling____________________________________________________________________________________*/
.overlay {
    position: fixed;
    left: 17vw;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    position: relative;
    overflow-x: hidden;
    transition: all 0.2s ease-in-out;
    top: 10vw;
    margin: auto;
    padding: 2vw;
    border-radius: 5px;
    width: 20%;
    height: 40%;
    background-color: white;
}

.popup h1 {
    width: 100%;
    height: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-bottom: 0.2vw solid #520404;
    font-size: 1.5vw;
    font-variant: small-caps;
    text-align: center;
}

.popup h2 {
    font-size: 1.5vw;
    font-variant: small-caps;
}

.popup-content{
    overflow-y: auto;
    overflow-x: hidden;
    padding:0.3vw;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 0.5vw;
    right: 1.5vw;
    transition: all 200ms;
    font-size: 3vw;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.popup .close:hover {
    color: #913737;
}

.button:hover {
    background-color: #525453;
}


