.error-msg{
    top: 50%;
    left: 50%;
    width: 25vw;
    height: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    background-color: white;
    padding: 0 2vw 2vw 2vw;
    border-radius: 1vw;
    font-family: "Arial Black", Gadget, sans-serif;
}

.error-msg h1{
    font-variant: small-caps;
    font-size: 3vw;
}

.error-msg p {
    padding-top: 2vw;
    font-size: 1.2vw;
    font-family: Arial, sans-serif;
}
