@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Open+Sans:wght@300&display=swap');

/*overall page body___________________________________________________________________________________________________*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cuprum', sans-serif;
}

.page-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

i {
    display: inline-block;
    width: auto;
    margin-right: 0.5vw;
    font-size: 1.5vw;
}

/* background img_______________________________________________________________________________________________*/
.page-background-img{
    position: absolute;
    height: 100%;
    width: 100%;
}


.page-background-img::after{
    content: "";
    position: fixed;
    z-index: -1;
    opacity: 33%;
    height: 100%;
    width: 100%;
    background: url("https://cdn.pixabay.com/photo/2016/11/11/20/05/wave-1817646_960_720.png") no-repeat center center;
    background-size: 100%;
}

/* footer__________________________________________________________________________________*/
.footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    height: 1.2vw;
    width: 100%;
    background-color: #7ac4c2;
}

.footer h1 {
    margin-top: 0.2vw;
    font-size: 0.75vw;
    text-align: center;
    letter-spacing: 0.2vw;
    color: black;
}
