* {
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    overflow-y: scroll;
    background: #eee;
    position: relative;
}

/*Side navigation content -------------------------------------------------------------------------------------------*/
.left-content{
    left: 0;
    position: fixed;
    width: 17vw;
    top: 0;
    bottom: 0;
    background: #7ac4c2;
    z-index: 95;
    border-style: solid;
    text-align: center;
    padding-bottom: 20vw;
}


.sidenav {
    height: 100%;
    width: 100%;
    padding-top: 1vw;
    display: inline-block;
}

.sidenav a {
    color: black;
    text-align: justify;
    text-decoration: none;
    font-size: 1.8vw;
    padding-left:2.5vw;
    margin-bottom: 2vw;
    display: block;
}

.sidenav i {
    padding-right: 0.5vw;
}



.sidenav-login{
    height: 100%;
    width: 100%;
    padding-top: 30vw;
    position: relative;

}

.sidenav i {
    padding-top: 0.5vw;
    padding-right: 0.5vw;

}

.sidenav a:hover, a:active {
    background-color:  #9ed4ca;
}

/*Main content -------------------------------------------------------------------------------------------------------*/
.main-content{
    height: auto;  /*AUTO*/
    top:7vw;
    position: relative;
    margin-left: 18.5%;
    margin-right: 50%;
    width: 80%;
    bottom: 0;
    border-style: solid;

}

ul li{
    padding: 20px;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    list-style-type: none;
    background:#eee;
}
ul li:hover{
    background: #bfe3d6;
    color: #000000;
}

.ul-content {
    border-style: solid;
    margin: 5px;
}

.overlay {
    position: fixed;
    top: 7vw;
    bottom: 1vw;
    left: 18vw;
    right: 18vw;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    top: 3vw;
    margin: auto;
    padding: 2vw;
    border-radius: 5px;
    width: 35%;
    height: 30vw;
    position: relative;
    transition: all 1s ease-in-out;
    background-color: white;
    overflow-x: hidden;
}

.popup h1 {
    width: 100%;
    height: auto;
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-variant: small-caps;
    border-bottom: 0.2vw solid #520404;
    text-align: center;
}

.popup-content{
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding:0.3vw;
}

.popup-content p {
    font-size: 1vw;
    text-align: justify;
    color: black;
}

.popup .close {
    position: absolute;
    top: 0.5vw;
    right: 1.5vw;
    transition: all 200ms;
    font-size: 3vw;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.popup .close:hover {
    color: darkred;
}

.button:hover {
    background-color: #525453;
}

/*Footer content -----------------------------------------------------------------------------------------------------*/
.footer{
    position: fixed;
    width: 100%;
    height: 2vw;
    bottom: 0;
    background: #7ac4c2;
    z-index: 99;
    border-style: solid;
}

.footer p {
    margin-top: 0.2vw;
    color: black;
    font-size: 0.75vw;
    text-align: center;
    letter-spacing: 0.2vw;
}


