<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Projects Overview</title>
    <link rel="stylesheet" href="generalbasestyle.css">
    <link rel="stylesheet" href="afterLogin/afterloginbasestyle.css">
    <script src="https://kit.fontawesome.com/00d69adb96.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="page-container">

    <!-- left side content/ nav menu-->
    <div class="sidenav-container">
        <div class="sidenav-wrapper">
            <a href="/overviewPage"><h1><i class="fas fa-tasks"></i>Project overview</h1></a>

            <a href="#popupCreateProject"><h1><i class="fas fa-plus"></i>Create New Project</h1></a>

            <a href="/" class="sidenav-item-bottom">
                <!-- thymeleaf: user logged in-->
                <h2>Currently logged in as: <br>
                    <th th:text="${user.firstName}"></th>
                    <th th:text="${user.lastName}"></th>
                </h2>

                <!-- TODO form skal implementeres sammen med billede og tekst -->
                <form name="logout" action="/logoutAction" method="POST">
<!--                    <input type="submit" class="button">-->
                    <h1><i class="fas fa-sign-out-alt"></i>Log out</h1>
                </form>
            </a>
        </div>
    </div>

    <!-- Main content/table-project content-->
    <div class="main-content-container">
        <div class="table-container">
            <table class="parent-table">

                <!-- header content-->
                <thead>
                <tr>
                    <th>Project overview</th>
                </tr>
                </thead>

                <tfoot>
                <!-- select Project to view-->
                <tr class="select-project-container">
                    <td colspan="9">
                        <form name="selectedProjectOverview" action="/selectProject" method="GET">
                            <label for="project">Select Project To View:</label>
                            <select name="projectId" id="project">
                                <th:block th:each="project: ${projectList}">
                                    <option th:value="${project.id}"><h1 th:text="${project.title}"></h1></option>
                                </th:block>
                            </select>
                            <button type="submit" class="select-project-button"><i class="far fa-check-circle"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tfoot>

            </table>
        </div>
    </div>


    <!--page footer-->
    <div class="footer">
        <h1> WWW.PROJECTPLANNER.COM • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@PROJECTPLANNER.COM • TLF: +45 46 46 07 00 </h1>
    </div>
</div>


<!-- popup for creating a project -->
<div id="popupCreateProject" class="overlay">
    <div class="popup">
        <h1>create project</h1>
        <a class="close" href="#">&times;</a>
        <div class="popup-content">
            <form name="createProjectAction" action="/createProjectAction" method="POST">

                <div>
                    <h2><label for="title">project title</label></h2>
                    <input type="text" id="title" name="projectTitle" placeholder="Write project title..." th:value="${title}" required>
                </div>

                <div>
                    <h2><label for="startDate">start date</label></h2>
                    <input type="date" id="startDate" name="projectStartDate" th:value="${startDate}" required>
                </div>

                <div>
                    <h2><label for="deadline">deadline (optional)</label></h2>
                    <input type="date" id="deadline" name="projectDeadline" th:value="${deadline}">
                </div>

                <div>
                    <h2><label for="baseSalary">base salary</label></h2>
                    <input type="number" id="baseSalary" name="projectBaseSalary" placeholder="DKK" th:value="${baselineManHourCost}">
                </div>

                <div>
                    <h2><label for="workHoursPerDay">work hours per day</label></h2>
                    <input type="number" id="workHoursPerDay" name="projectWorkHoursPerDay" placeholder="0" th:value="${baselineHoursPrWorkday}">
                </div>

                <input type="submit" class="button"
                       onclick="return confirm('Create Project?')" value="Create Project">
            </form>
        </div>
    </div>
</div>

</body>
</html>

