<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Project</title>
    <link rel="stylesheet" href="generalbasestyle.css">
    <link rel="stylesheet" href="afterLogin/selectedprojectstyle.css">
    <link rel="stylesheet" href="afterLogin/afterloginbasestyle.css">
    <script src="https://kit.fontawesome.com/00d69adb96.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="page-container">

    <!-- left side content/ nav menu-->
    <div class="sidenav-container">
        <div class="sidenav-wrapper">
            <a href="/overview"><h1><i class="fas fa-tasks"></i>Project overview</h1></a>

            <a href="#popupCreateProject"><h1><i class="fas fa-plus"></i>Create New Project</h1></a>

            <a href="#editProject"><h1><i class="far fa-edit"></i>Edit Project</h1></a>

            <a href="#deleteProject"><h1 class="delete-item-wrapper"><i class="fas fa-trash-alt"></i>Delete Project</h1></a>

            <div class="log-out" style="margin-top: 13.5vw">
                <h2>Currently logged in as: <br>
                    <th th:text="${user.firstName}"></th>
                    <th th:text="${user.lastName}"></th>
                </h2>
                <form name="logout" action="/logoutAction" method="POST">
                    <!-- thymeleaf: user logged in-->

                    <!-- TODO form skal implementeres sammen med billede og tekst -->
                    <h1><i class="fas fa-sign-out-alt"></i><input type="submit" value="Log Out"></h1>
                </form>
            </div>
        </div>
    </div>

    <!-- Main content/table-project content-->
    <div class="main-content-container">
        <div class="table-container">
            <table class="parent-table">

                <!-- header content-->
                <thead>
                <tr>
                    <th>Project overview</th>
                </tr>
                </thead>

                <th:block th:each="project: ${project}">
                    <tbody th:if="${project != null}">

                    <tr>
                        <td class="row-container">
                            <!-- project title header-->
                            <i class="fas fa-project-diagram"></i><h1 th:text="${project.title}"></h1>

                            <table class="project-table">
                                <!-- project info header row-->
                                <tr class="header-container">
                                    <td class="title-column-wrapper"><h1>project title</h1></td>
                                    <td class="date-column-wrapper"><h1>start date</h1></td>
                                    <td class="date-column-wrapper"><h1>deadline</h1></td>
                                    <td class="number-column-wrapper"><h1>total work hours</h1>
                                    <td class="number-column-wrapper"><h1>total work days</h1></td>
                                    <td class="date-column-wrapper"><h1>est. finish date</h1></td>
                                    <td class="number-column-wrapper"><h1>deadline diff.</h1></td>
                                    <td class="number-column-wrapper"><h1>change to work hours needed</h1></td>
                                    <td><h1>est. total cost</h1></td>
                                    <td class="button-column-wrapper"></td>
                                    <td class="button-column-wrapper"></td>
                                </tr>

                                <tr class="info-row-container">
                                    <td class="title-column-wrapper"><h2 th:text="${project.title}"></h2></td>
                                    <td class="date-column-wrapper"><h2 th:text="${project.startDate}"></h2></td>
                                    <td class="date-column-wrapper"><h2 th:text="${project.deadline}"></h2></td>
                                    <td class="number-column-wrapper"><h2 th:text="${project.totalWorkHours}"></h2></td>
                                    <td class="number-column-wrapper"><h2 th:text="${project.totalWorkDays}"></h2></td>
                                    <td class="date-column-wrapper"><h2 th:text="${project.estFinishedByDate}"></h2></td>
                                    <td class="number-column-wrapper"><h2 th:text="${project.deadlineDifference}"></h2></td>
                                    <td class="number-column-wrapper"><h2 th:text="${project.changeToWorkHoursNeeded}"></h2></td>
                                    <td><h2 th:text="${project.estTotalCost}"></h2></td>
                                    <td class="button-column-wrapper"></td>
                                    <td class="button-column-wrapper"></td>
                                </tr>

                                <tr>
                                    <td colspan="11">
                                        <input type="checkbox"/>
                                        <span class="span-subproject-row-wrapper">
                                            <i class="fas fa-plus"></i>show: subprojects
                                        </span>
                                        <span class="span-subproject-row-wrapper">
                                            <i class="fas fa-minus"></i>hide: subprojects
                                        </span>

                                        <table class="collapsible-nested-table" id="subproject-table">
                                            <tr class="header-container">
                                                <td class="title-column-wrapper"><h1>subproject title</h1></td>
                                                <td class="date-column-wrapper"><h1>start date</h1></td>
                                                <td class="date-column-wrapper"><h1>deadline</h1></td>
                                                <td class="number-column-wrapper"><h1>subtotal work hours</h1>
                                                <td class="number-column-wrapper"><h1>subtotal work days</h1></td>
                                                <td class="date-column-wrapper"><h1>est. finish date</h1></td>
                                                <td class="number-column-wrapper"><h1>deadline diff.</h1></td>
                                                <td class="number-column-wrapper"><h1>change to work hours needed</h1></td>
                                                <td><h1>est. total cost</h1></td>
                                                <td class="button-column-wrapper"></td>
                                                <td class="button-column-wrapper"></td>
                                            </tr>


                                            <th:block th:each="subproject: ${project.subprojects}">
                                                <tr class="info-row-container">

                                                    <!--edit subproject -->
                                                    <form name="editSubprojectAction" action="/editSubprojectAction" method="POST">
                                                        <input type="hidden" name="projectId" th:value="${project.id}">
                                                        <input type="hidden" name="subprojectId" th:value="${subproject.id}">

                                                        <td class="title-column-wrapper">
                                                            <h2><input type="text" name="subprojectTitle" th:value="${subproject.title}"></h2>
                                                        </td>

                                                        <td class="date-column-wrapper">
                                                            <h2><input type="date" name="subprojectStartDate"  min="2000-01-01" max="2099-01-01" th:value="${subproject.startDate}"></h2>
                                                        </td>

                                                        <td class="date-column-wrapper">
                                                            <h2><input type="date" name="subprojectDeadline"  min="2000-01-01" max="2099-01-01" th:value="${subproject.deadline}"></h2>
                                                        </td>

                                                        <td class="number-column-wrapper"><h2 th:text="${subproject.totalWorkHours}"></h2></td>

                                                        <td class="number-column-wrapper"><h2 th:text="${subproject.totalWorkDays}"></h2></td>

                                                        <td class="date-column-wrapper"><h2 th:text="${subproject.estFinishedByDate}"></h2></td>

                                                        <td class="number-column-wrapper"><h2 th:text="${subproject.deadlineDifference}"></h2></td>

                                                        <td class="number-column-wrapper"><h2 th:text="${subproject.changeToWorkHoursNeeded}"></h2></td>

                                                        <td><h2 th:text="${subproject.estTotalCost}"></h2></td>

                                                        <td class="button-column-wrapper">
                                                            <button type="submit" class="edit-button" onclick="return confirm('Save Changes?')"><i class="far fa-save"></i></button>
                                                        </td>
                                                    </form>

                                                    <!-- delete subproject -->
                                                    <form name="deleteSubprojectAction" action="/deleteSubprojectAction"
                                                          method="POST">
                                                        <td class="button-column-wrapper">
                                                            <input type="hidden" name="projectId" th:value="${project.id}">
                                                            <input type="hidden" name="subprojectId" th:value="${subproject.id}">

                                                            <button type="submit" class="delete-button" onclick="return confirm('Delete Subproject?')"><i class="fas fa-trash-alt"></i></button>
                                                        </td>
                                                    </form>
                                                </tr>


                                                <tr>
                                                    <td colspan="11">
                                                        <input type="checkbox"/>
                                                        <span class="span-task-row-wrapper"><i class="fas fa-plus"></i>show: tasks</span>
                                                        <span class="span-task-row-wrapper"><i class="fas fa-minus"></i>hide: tasks</span>

                                                        <table class="collapsible-nested-table" id="task-table">
                                                            <tr class="header-container">
                                                                <td class="title-column-wrapper"><h1>task title</h1></td>
                                                                <td class="date-column-wrapper"><h1>start date</h1></td>
                                                                <td class="date-column-wrapper"><h1>deadline</h1></td>
                                                                <td colspan="2" class="task-number-column-wrapper"><h1>total work hours</h1>
                                                                <td colspan="2" class="task-number-column-wrapper"><h1>cost per hour</h1></td>
                                                                <td class="task-number-column-wrapper"><h1>external cost</h1></td>
                                                                <td></td>
                                                                <td class="button-column-wrapper"></td>
                                                                <td class="button-column-wrapper"></td>
                                                            </tr>

                                                            <form name="createTaskAction" action="/createTaskAction" method="POST">
                                                                <tr class="create-task-container">
                                                                    <input type="hidden" name="projectId" th:value="${project.id}">
                                                                    <input type="hidden" name="subprojectId" th:value="${subproject.id}">

                                                                    <td class="title-column-wrapper">
                                                                        <input type="text" name="taskTitle" placeholder="Write task title..." required>
                                                                    </td>

                                                                    <td class="date-column-wrapper">
                                                                        <input type="date" name="taskStartDate"  min="2000-01-01" max="2099-01-01" th:value="${subproject.startDate}" required>
                                                                    </td>

                                                                    <td class="date-column-wrapper">
                                                                        <input type="date" name="taskDeadline" min="2000-01-01" max="2099-01-01" th:value="${subproject.deadline}">
                                                                    </td>

                                                                    <td colspan="2" class="task-number-column-wrapper">
                                                                        <input type="number" name="taskWorkHoursNeeded" value="0">
                                                                    </td>

                                                                    <td colspan="2" class="task-number-column-wrapper">
                                                                        <input type="number" name="taskManHourCost" th:value="${project.baselineManHourCost}">
                                                                    </td>

                                                                    <td class="task-number-column-wrapper">
                                                                        <input type="number" name="taskExtraCosts" value="0">
                                                                    </td>

                                                                    <td colspan="3">
                                                                        <input type="submit" class="button" onclick="return confirm('Add Task?')" value="+ Add Task">
                                                                    </td>
                                                                </tr>
                                                            </form>

                                                            <th:block th:each="task: ${subproject.tasks}">
                                                                <tr class="info-row-container">
                                                                    <!--edit task form -->
                                                                    <form name="editTaskAction" action="/editTaskAction" method="POST">
                                                                        <input type="hidden" name="projectId" th:value="${project.id}">
                                                                        <input type="hidden" name="subprojectId" th:value="${subproject.id}">
                                                                        <input type="hidden" name="taskId" th:value="${task.id}">

                                                                        <td class="title-column-wrapper">
                                                                            <h2><input type="text" name="taskTitle" th:value="${task.title}"></h2>
                                                                        </td>
                                                                        <td class="date-column-wrapper">
                                                                            <h2><input type="date" name="taskStartDate" min="2000-01-01" max="2099-01-01" th:value="${task.startDate}"></h2>
                                                                        </td>
                                                                        <td class="date-column-wrapper">
                                                                            <h2><input type="date" name="taskDeadline" min="2000-01-01" max="2099-01-01" th:value="${task.deadline}"></h2>
                                                                        </td>
                                                                        <td colspan="2" class="task-number-column-wrapper">
                                                                            <h2><input type="number" name="taskWorkHoursNeeded" th:value="${task.workHoursNeeded}"></h2>
                                                                        </td>
                                                                        <td colspan="2" class="task-number-column-wrapper">
                                                                            <h2><input type="number" name="taskManHourCost" th:value="${task.manHourCost}"></h2>
                                                                        </td>
                                                                        <td class="task-number-column-wrapper">
                                                                            <h2><input type="number" name="taskExtraCost" th:value="${task.extraCosts}"></h2>
                                                                        </td>

                                                                        <td></td>

                                                                        <td class="button-column-wrapper">
                                                                            <button type="submit" class="edit-button" onclick="return confirm('Save Changes?')"><i class="far fa-save"></i></button>
                                                                        </td>
                                                                    </form>

                                                                    <!--delete task form-->
                                                                    <form name="deleteTaskAction" action="/deleteTaskAction" method="POST">
                                                                    <td class="button-column-wrapper">
                                                                        <input type="hidden" name="projectId" th:value="${project.id}">
                                                                        <input type="hidden" name="subprojectId" th:value="${subproject.id}">
                                                                        <input type="hidden" name="taskId" th:value="${task.id}">
                                                                        <button type="submit" class="delete-button" onclick="return confirm('Delete Task?')"><i class="fas fa-trash-alt"></i></button>
                                                                    </td>
                                                                    </form>
                                                                </tr>
                                                            </th:block>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </th:block>

                                            <tr class="add-button">
                                                <td colspan="11">
                                                    <a href="#addSubproject"><input type="submit" class="button" value="+ Add Subproject"></a>
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    </tbody>

                    <!-- popup for editing a project -->
                    <div id="editProject" class="overlay">
                        <div class="popup">
                            <h1>edit project</h1>
                            <a class="close" href="#">&times;</a>
                            <div class="popup-content">
                                <form name="editProjectAction" action="/editProjectAction" method="POST">
                                    <input type="hidden" name="projectId" th:value="${project.id}">

                                    <div>
                                        <h2><label for="projectTitle">project title</label></h2>
                                        <input type="text" id="projectTitle" name="projectTitle" th:value="${project.title}">
                                    </div>

                                    <div>
                                        <h2><label for="projectStartDate">start date</label></h2>
                                        <input type="date" id="projectStartDate" name="projectStartDate" min="2000-01-01" max="2099-01-01" th:value="${project.startDate}">
                                    </div>

                                    <div>
                                        <h2><label for="projectDeadline">deadline</label></h2>
                                        <input type="date" id="projectDeadline" name="projectDeadline" min="2000-01-01" max="2099-01-01" th:value="${project.deadline}" required>
                                    </div>

                                    <div>
                                        <h2><label for="projectBaselineManHourCost">cost per hour</label></h2>
                                        <input type="number" id="projectBaselineManHourCost" name="projectBaselineManHourCost" th:value="${project.baselineManHourCost}">
                                    </div>

                                    <div>
                                        <h2><label for="projectBaselineHoursPrWorkday">work hours per day</label></h2>
                                        <input type="number" id="projectBaselineHoursPrWorkday" name="projectBaselineHoursPrWorkday" max="24" th:value="${project.baselineHoursPrWorkday}">
                                    </div>

                                    <input type="submit" class="button" onclick="return confirm('Save Changes?')" value="Edit Project">
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- popup for deleting a project -->
                    <div id="deleteProject" class="overlay">
                        <div class="popup">
                            <h1>delete project</h1>
                            <a class="close" href="#">&times;</a>
                            <div class="popup-content">
                                <form name="deleteProjectAction" action="/deleteProjectAction" method="POST">
                                    <input type="hidden" name="projectId" th:value="${project.id}">

                                    <div>
                                        <h2 th:text="${project.title}"></h2>
                                    </div>

                                    <input type="submit" class="button" onclick="return confirm('Are you sure you want to delete this project?')" value="Delete Project">
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- popup for creating a subproject -->
                    <div id="addSubproject" class="overlay">
                        <div class="popup">
                            <h1>add subproject</h1>
                            <a class="close" href="#">&times;</a>
                            <div class="popup-content">
                                <form name="createSubprojectAction" action="/createSubprojectAction" method="POST">
                                    <input type="hidden" name="projectId" th:value="${project.id}">

                                    <div>
                                        <h2><label for="subprojectTitle">subproject title</label></h2>
                                        <input type="text" id="subprojectTitle" name="subprojectTitle" required>
                                    </div>

                                    <div>
                                        <h2><label for="subprojectStartDate">start date</label></h2>
                                        <input type="date" id="subprojectStartDate" name="subprojectStartDate" min="2000-01-01" max="2099-01-01" th:value="${project.startDate}" required>
                                    </div>

                                    <div>
                                        <h2><label for="deadline">deadline</label></h2>
                                        <input type="date" id="subprojectDeadline" name="subprojectDeadline" min="2000-01-01" max="2099-01-01">
                                    </div>

                                    <input type="submit" class="button" onclick="return confirm('Create Subproject?')" value="Create Subproject">
                                </form>
                            </div>
                        </div>
                    </div>

                </th:block>

                <tfoot>
                <!-- select Project to view-->
                <tr class="select-project-container">
                    <td colspan="11">
                        <form name="selectedProjectOverview" action="/selectProject" method="POST">
                            <label for="project">Select Project To View:</label>
                            <select name="projectId" id="project">
                                <th:block th:each="project: ${projectList}">
                                    <option th:value="${project.id}"><h1 th:text="${project.title}"></h1></option>
                                </th:block>
                            </select>
                            <button type="submit" class="select-project-button"><i class="far fa-check-circle"></i></button>
                        </form>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <!--page footer-->
    <div class="footer">
        <h1> WWW.PROJECTPLANNER.COM • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@PROJECTPLANNER.COM • TLF: +45 46 46 07 00 </h1>
    </div>
</div>



<!-- popup for creating a project -->
<div id="popupCreateProject" class="overlay">
    <div class="popup">
        <h1>create project</h1>
        <a class="close" href="#">&times;</a>
        <div class="popup-content">
            <form name="createProjectAction" action="/createProjectAction" method="POST">

                <div>
                    <h2><label for="title">project title</label></h2>
                    <input type="text" id="title" name="projectTitle" placeholder="Write project title..." required>
                </div>

                <div>
                    <h2><label for="startDate">start date</label></h2>
                    <input type="date" id="startDate" name="projectStartDate" min="2000-01-01" max="2099-01-01" required>
                </div>

                <div>
                    <h2><label for="deadline">deadline (optional)</label></h2>
                    <input type="date" id="deadline" name="projectDeadline" min="2000-01-01" max="2099-01-01">
                </div>

                <div>
                    <h2><label for="baseSalary">base salary</label></h2>
                    <input type="number" id="baseSalary" name="projectBaseSalary"  value="0" required>
                </div>

                <div>
                    <h2><label for="workHoursPerDay">work hours per day</label></h2>
                    <input type="number" id="workHoursPerDay" name="projectWorkHoursPerDay" max="24" value="0" required>
                </div>

                <input type="submit" class="button" onclick="return confirm('Create Project?')" value="Create Project">
            </form>
        </div>
    </div>
</div>

</body>
</html>