<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" href="createProjectstyle.css">
    <link rel="stylesheet" href="overviewstyle.css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/00d69adb96.js"></script>

</head>
<body>

<div class="content-createP">
    <h1>Create Project</h1>
    <form name="createProject" action="/createProject" method="GETPOST">
        <div class="flex-box">

            <!-- first name input -->
            <div class="input-fullwidth">
                <h2><label for="projectName">Project Name</label></h2>
                <input type="text" id="projectName" name="projectName" placeholder="Write your project name..." required>
            </div>

            <H3> </H3>

            <!-- choose Start date-->
            <div class="input-fullwidth">
                <h2><label for="startDate">Start Date</label></h2>
                <input type="date" id="startDate" name="startDate" placeholder="YYYY-MM-DD..."   value="" required>
            </div>


            <!-- create profile button-->
            <div class="input-fullwidth">
                <input type="submit" class="button" onclick="return confirm('Submit information?')" value="Submit">
            </div>

        </div>
    </form>
</div>

<div class="left-content">
    <!-- name-->
    <h1>Firma navn</h1>
    <!-- navigation menu -->
    <div class="sidenav">
        <form name="overview" action="/overview" method="get">
            <a href="/overview"><i class="fas fa-archive"></i>Overview</a>
        </form>
        <a href="/popup"><i class="fas fa-user-edit"></i>Edit Project</a>
        <div class="sidenav-login">
            <a href="/"><i  class="fas fa-sign-out-alt"></i>Log out</a>
        </div>
    </div>
</div>
</body>
</html>