<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="basestyle.css">
    <link rel="stylesheet" href="loginstyle.css">
    <script src="https://kit.fontawesome.com/00d69adb96.js" crossorigin="anonymous"></script></head>
<body>


<div class="page-wrapper">

    <!-- header navigation menu-->
    <ul>
        <li style="float:left"><a class="active" href="/"><h4><i class="fas fa-chart-bar"></i>Website Name</h4></a></li>
        <li style=" margin-right: 5vw;"><a href="/logIn"><h4 class="active">Log In</h4></a></li>
        <li><a href="/signUp"><h4>Sign Up</h4></a></li>
    </ul>

    <!-- left side content-->
    <div class="box-left">
        <div class="about-website-content">
            <h1>heading</h1>
            <p>About us, about us, about us, about us, about us, about us, about us, about us, about us,
                about us, about us, about us, about us, about us, about us, about us
                About us, about us, about us, about us, about us, about us, about us, about us, about us,
                about us, about us, about us, about us, about us, about us, about us</p>
        </div>
    </div>

    <!-- right side content-->
    <div class="box-right">
        <div class="box-content">
            <h2>Log In</h2>

            <!-- log in form-->
            <form name="login" action="/loginAction" method="POST">
                <div class="flex-box">

                    <div class="non-content-area"></div>

                    <!-- email input -->
                    <div class="inputfield-fullwidth">
                        <h3><label for="email">E-mail</label></h3>
                        <input type="text" id="email" name="email" placeholder="Your e-mail address...." value="" required>
                    </div>

                    <div class="non-content-area"></div>

                    <!-- password input -->
                    <div class="inputfield-fullwidth">
                        <h3><label for="password">Password</label></h3>
                        <input type="password" id="password" name="password" placeholder="Your password...." value="" required>
                    </div>

                    <!-- log in button -->
                    <div class="inputfield-fullwidth">
                        <input type="submit" class="button" value="Log In">
                    </div>

                    <div class="non-content-area"></div>

                    <!-- redirect to sign up page -->
                    <div class="inputfield-fullwidth">
                        <a href="/signUp">Not a member? Sign up now!</a>
                    </div>

                    <div class="non-content-area"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- footer content-->
<div class="footer">
    <h6> WWW.BLABLA.COM • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@BLABLA.COM • TLF: +45 46 46 07 00 </h6>
</div>

</body>
</html>